h3 {
    color: black;
    .blue {
      color: #323299;
     }
     .black {
        color: #3B3B3B;
     }
   }

#xyz {
	 	color: black;
		font-size: 2.5rem;
	 	.red {
	 		color: #E50000;
	 		}
	 		.black {
	 			color: #3B3B3B;
	 		}
	 	}
